<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer 
      class="sidenav"  
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a routerLink="/home"><mat-icon aria-label="Side nav toggle icon">home</mat-icon></a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/reports">Reports</a>
      <a mat-list-item routerLink="/aboutas">About As</a>
      <div class="more-link">
        <!-- Links -->
        <ul class="list-link">
          <li><a href="#1">Link 1</a></li>
          <li><a href="#2">Link 2</a></li>
          <li><a href="#3">Link 3</a> </li>
        </ul>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="mat-toolbar-home">
        <a routeLink="/home">VAWT</a>
      </span>
      <span class="spacer"></span>
      <a class="mat-toolbar-item" routerLink="/dashboard">Dashboard</a>
      <a class="mat-toolbar-item" routerLink="/reports">Reports</a>
      <a class="mat-toolbar-item" routerLink="/aboutas">About As</a>
      <span class="spacer"></span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
