<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--all above is necessary for bootstrap to function in this snippet-->


<div class="slider">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <!-- <img src="../assets/images/windA.jpg" alt="Random first slide"> -->
            <img [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h1>Vertical Axis Wind Turbine</h1>
            <p>PT. Parametrik Research and Developemnt</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <!-- <img src="../assets/images/windB.jpg" alt="Random second slide"> -->
            <img [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
              <h1>Vertical Axis Wind Turbine</h1>
              <p>PT. Parametrik Research and Developemnt</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <!-- <img src="../assets/images/windC.jpg" alt="Random third slide"> -->
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
              <h1>Vertical Axis Wind Turbine</h1>
              <p>PT. Parametrik Research and Developemnt</p>
          </div>
        </ng-template>
      </ngb-carousel>

      <!-- Content -->
      <div class="content">
        <h3> MORE CONTENT HERE</h3>
        <hr>
        <p>"You can do it!"<br></p>
      </div>

</div>